@for (item of toast.getToasts() | async; track $index) {
  <div
    class="fixed flex top-4 left-1/2 transform -translate-x-1/2 px-6 py-3 rounded-xl shadow-xl z-50 transition-all duration-300 animate-fade-in-out text-white font-medium items-center justify-center"
    [ngClass]="{
      'bg-green-600': item.type === 'success',
      'bg-blue-600': item.type === 'info',
      'bg-yellow-500 text-black': item.type === 'warning',
      'bg-red-600': item.type === 'danger',
    }"
  >
    {{ item.text }}
    <button class="text-white hover:text-gray-200" (click)="toast.remove(item.id)">X</button>
  </div>
}
