<div class="min-h-screen flex items-center bg-[#130d00]" *ngIf="event">
  @if (!event.introCompleted) {
    <div class="container mx-auto">
      <div class="max-w-3xl mx-auto rounded-lg overflow-hidden shadow-lg">
        <video class="w-full h-auto" controls>
          <source src="assets/videos/intro.mp4" type="video/mp4" />
          Your browser does not support the video tag.
        </video>
        <div class="p-4 bg-white">
          <div class="flex space-x-4 justify-center">
            <button
              class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
              (click)="startVideo()"
            >
              Reproducir
            </button>
            <button
              class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded"
              (click)="pauseVideo()"
            >
              Pausar
            </button>
            <button
              class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded"
              (click)="continue()"
            >
              Continuar
            </button>
          </div>
        </div>
      </div>
    </div>
  }
</div>
