<div
  class="min-h-screen bg-[url('/assets/images/pergamino-textura.png')] bg-cover bg-center p-6 font-medieval"
>
  <div class="max-w-2xl mx-auto bg-black/60 shadow-xl rounded-2xl p-8 text-white">
    <h1 class="text-2xl font-bold mb-4 text-yellow-100 drop-shadow">Sala de espera</h1>
    <p class="mb-6 text-white/90">Participantes registrados hasta el momento:</p>

    <ul class="space-y-3" *ngIf="participants$ | async as participants">
      <li
        *ngFor="let p of participants; trackBy: trackById"
        class="p-4 border border-white/20 rounded-xl bg-[#2e2615] flex justify-between items-center"
      >
        <div class="mb-2 flex justify-center items-center gap-4">
          <img
            [src]="p.avatar"
            alt="Avatar seleccionado"
            class="w-20 h-20 rounded-full border-2 border-yellow-400"
          />
          <span class="font-medium text-white">{{ p.name }}</span>
        </div>
        <button
          class="p-2 bg-red-700 text-white rounded-lg hover:bg-red-600 transition"
          (click)="deleteParticipant(p.id)"
        >
          Eliminar
        </button>
      </li>
    </ul>

    <div class="mt-6 text-center">
      <button
        class="px-6 py-2 bg-green-700 text-white font-semibold rounded-xl hover:bg-green-600 transition disabled:opacity-50 disabled:cursor-not-allowed"
        [disabled]="isStarting || (participants$ | async)?.length === 0"
        (click)="startEvent()"
      >
        <span *ngIf="!isStarting">Start Event</span>
        <span *ngIf="isStarting">Starting...</span>
      </button>
    </div>

    <p *ngIf="(participants$ | async)?.length === 0" class="text-sm text-white/60 text-center mt-5">
      No hay participantes todavía...
    </p>
  </div>
</div>
