<app-count-down
  [seconds]="100"
  (timeUp)="timeUp()"
  (timeUpdate)="updateTime($event)"
></app-count-down>
<!-- Question Title -->
@if (question.description) {
  <h2 class="text-base mb-2">{{ question.description }}</h2>
}
<!-- Question Title -->
<h2 class="text-1xl font-bold mb-6">{{ question.question }}</h2>

<!-- Radio Options -->
<div class="space-y-4">
  <input
    type="text"
    placeholder="Aquí tu respuesta"
    class="w-full bg-transparent border-b border-white text-white px-2 py-1 focus:outline-none"
    [(ngModel)]="response"
  />
</div>

<button
  class="mt-6 px-6 py-4 shadow-sm shadow-white bg-[url('/assets/images/boton.png')] bg-cover text-stone-100 block mx-auto"
  (click)="checkAnswer()"
>
  Comprobar Respuesta
</button>

@if (showFeedback) {
  <div
    class="absolute top-28 left-1/2 transform -translate-x-1/2 bg-white/90 p-4 rounded-lg shadow-lg text-center z-40 max-w-xs text-black font-semibold"
  >
    <p>Respuesta correcta.</p>
    {{ question.feedback }}
  </div>
}
