<div
  class="w-full h-screen flex items-center justify-center bg-cover bg-no-repeat bg-[url('/assets/images/fondo_enigma.png')] bg-center"
>
  <!-- Overlay -->
  <div class="inset-0 bg-black bg-opacity-40 p-[16px] h-full">
    <!-- Content Container -->
    <div class="relative z-10 w-full h-full text-white">
      <p
        class="mb-6 px-4 py-3 text-md text-white text-center max-w-xl mx-auto leading-relaxed shadow-sm"
      >
        {{ stageData.description }}
      </p>

      <app-image
        [question]="currentQuestion"
        (timeUp$)="timeUp()"
        (selected$)="nextQuestion($event)"
        [timer]="false"
        [automaticResponse]="true"
      ></app-image>
    </div>
  </div>
</div>

<app-modal-feedback
  [isOpen]="winnerAlreadyNotified"
  [feedbackHtml]="feedbackHTML"
  (continue)="continue()"
></app-modal-feedback>
