<div
  class="relative w-full h-full min-h-screen bg-cover bg-center bg-no-repeat mx-auto"
  [ngStyle]="{ 'background-image': 'url(' + stageData?.background + ')' }"
>
  <!-- Imagen superpuesta encima -->
  <img
    [src]="stageData?.image"
    alt="Imagen encima"
    (click)="showModal()"
    class="absolute left-[55%] bottom-[12%] w-1/2 -translate-x-1/2 cursor-pointer animate-pulse z-30 brillant"
  />

  <!-- Texto descriptivo -->
  <div class="absolute inset-0 flex items-baseline justify-center p-4 text-center z-20">
    <p
      class="text-white text-base md:text-base backdrop-blur-sm bg-black/40 p-4 rounded max-w-xl leading-relaxed"
      [innerHTML]="stageData?.description"
    ></p>
  </div>

  <!-- Modal -->
  <div class="fixed inset-0 bg-black/85 flex items-center justify-center z-50" *ngIf="isOpen">
    <div
      class="rounded-lg shadow-lg w-full p-6 relative bg-transparent bg-[url('/assets/images/pergamino.png')] bg-cover bg-center bg-no-repeat h-screen md:h-[90vh]"
    >
      <div
        class="flex flex-col items-center justify-center h-full w-[75%] md:w-[50%] mx-auto space-y-4"
      >
        @if (!hasAnswered) {
          <p
            class="text-sm md:text-lg text-white text-center leading-relaxed font-medieval drop-shadow-[0_1px_1px_rgba(0,0,0,0.6)]"
            [innerHTML]="stageData?.riddle"
          ></p>
          <p
            class="text-black font-bold text-center text-sm md:text-lg mt-2 drop-shadow-[0_1px_1px_rgba(255,255,255,0.6)]"
          >
            Dime, sabio viajero, ¿Cómo se llama este conjunto de seres microscópicos que residen e
            interactúan en tu cuerpo como aliados silenciosos?
          </p>
          <div class="flex items-center gap-2">
            <input
              type="text"
              class="w-64 p-2 border-b-2 border-white bg-transparent text-white text-center placeholder-white/80 focus:outline-none focus:border-white"
              [(ngModel)]="answer"
              (keyup.enter)="checkAnswer()"
              placeholder="Tu respuesta aquí"
            />
            <button
              (click)="checkAnswer()"
              class="bg-green-900/70 p-2 rounded-md hover:bg-green-900 border-2 border-gray-400/50"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="white"
                class="size-6"
              >
                <path stroke-linecap="round" stroke-linejoin="round" d="m4.5 12.75 6 6 9-13.5" />
              </svg>
            </button>
          </div>

          <app-count-down
            [seconds]="60"
            (timeUp)="onTimeUp()"
            (timeUpdate)="updateTime($event)"
          ></app-count-down>
        } @else {
          <p
            class="text-white font-bold text-center text-base md:text-lg mt-2 drop-shadow-[0_1px_1px_rgba(0,0,0,0.6)]"
          >
            {{ msg }}
          </p>
          <button
            class="mt-6 px-6 py-3 text-stone-100 font-bold rounded-lg shadow-md bg-[url('/assets/images/boton.png')] bg-cover bg-center hover:opacity-90"
            (click)="close()"
          >
            Continuar
          </button>
        }
      </div>
    </div>
  </div>
</div>
