<div class="countdown-container">
  <!-- Circular Countdown -->
  @if (mode === 'circle') {
    <div class="flex items-center justify-center w-full h-full">
      <svg class="w-16 h-16" viewBox="0 0 100 100">
        <circle
          class="fill-gray-200 stroke-white"
          [attr.stroke-width]="7"
          cx="50"
          cy="50"
          r="45"
        ></circle>
        <circle
          [attr.stroke-width]="7"
          [attr.class]="'fill-none transition-all duration-300 ease-in-out ' + circleColor"
          cx="50"
          cy="50"
          r="45"
          [style.strokeDasharray]="circleLength"
          [style.strokeDashoffset]="circleLength - (circleLength * countdown) / seconds"
        ></circle>
        <text
          x="50"
          y="50"
          class="text-2xl font-bold fill-gray-700"
          text-anchor="middle"
          dominant-baseline="central"
        >
          {{ timeLeft }}
        </text>
      </svg>
    </div>
  }
  @if (mode === 'linear') {
    <div class="linear-countdown">
      <div class="progress-bar">
        <div class="progress-fill" [style.width]="countdown + '%'"></div>
      </div>
      <div class="time-display">{{ timeLeft }}</div>
    </div>
  }
  <!-- Linear Countdown -->
</div>
